.container {
    overflow: visible;
}


/* =======VINH======= */


/* spike divider */

.spikes {
    position: relative;
    background: #2c3e50;
    height: 0vh;
}

.spikes::after {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    top: 100%;
    z-index: 10;
    display: block;
    height: 50px;
    background-size: 50px 100%;
    background-image: linear-gradient(135deg, #2c3e50 25%, transparent 25%), linear-gradient(225deg, #2c3e50 25%, transparent 25%);
    background-position: 0 0;
}


/* spike divider end */

.pkm-name {
    font-family: 'Titillium Web', serif;
    font-size: 35px;
    font-weight: 600;
    margin-top: 15px;
}

.pkm-card-text {
    line-height: 1.7;
    font-family: 'Titillium Web', serif;
    font-size: 15px;
    height: 120px;
}

.pkm-type {
    font-family: 'Titillium Web', serif;
    font-size: 22px;
    font-weight: 550;
    margin-top: 10px;
}

.pkm-card {
    margin-left: 10px;
    margin-right: 10px;
    width: 250px;
    border-radius: 25px;
    filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.5));
    border: 0;
    margin-bottom: 30px;
    background: rgb(243, 241, 194);
    background: linear-gradient(180deg, rgba(243, 241, 194, 1) 0%, rgba(71, 167, 123, 1) 100%);
    transition-duration: 0.7s;
}

.pkm-card:hover>.pkm-img-container>.pkm-img {
    left: -202px;
    height: 170px;
    width: auto;
    filter: drop-shadow(0px 0px 20px rgb(245, 47, 57));
    transition-duration: 0.7s;
}

.pkm-card:hover {
    animation: wiggle 1s linear 1;
}

.pkm-img {
    height: 160px;
    width: auto;
    transition-duration: 0.7s;
}


/* .pkm-img:hover {
    left: -202px;
    height: 170px;
    width: auto;
    filter: drop-shadow(0px 0px 20px rgb(245, 47, 57));
    transition-duration: 0.7s;
} */

.pkm-img-container {
    margin-left: 45px;
    overflow: visible;
    height: 160px;
    width: 160px;
}

.bug-type {
    background-color: #729f3f;
    color: white;
    padding-bottom: 5px;
    text-shadow: 1px 1px gray;
    box-shadow: 1px 1px #848484;
}

.grass-type {
    background-color: #9bcc50;
    color: white;
    padding-bottom: 5px;
    text-shadow: 1px 1px gray;
    box-shadow: 1px 1px #848484;
}

.poison-type {
    background-color: #b97fc9;
    color: white;
    padding-bottom: 5px;
    text-shadow: 1px 1px gray;
    box-shadow: 1px 1px #848484;
}

.dragon-type {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    color: white;
    padding-bottom: 5px;
    text-shadow: 1px 1px gray;
    box-shadow: 1px 1px #848484;
}

.flying-type {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    color: white;
    padding-bottom: 5px;
    text-shadow: 1px 1px gray;
    box-shadow: 1px 1px #848484;
}

.normal-type {
    background-color: #a4acaf;
    color: white;
    padding-bottom: 5px;
    text-shadow: 1px 1px gray;
    box-shadow: 1px 1px #848484;
}

.ice-type {
    background-color: #51c4e7;
    color: white;
    padding-bottom: 5px;
    text-shadow: 1px 1px gray;
    box-shadow: 1px 1px #848484;
}

.fire-type {
    background-color: #fd7d24;
    color: white;
    padding-bottom: 5px;
    text-shadow: 1px 1px gray;
    box-shadow: 1px 1px #848484;
}

.water-type {
    background-color: #4592c4;
    color: white;
    padding-bottom: 5px;
    text-shadow: 1px 1px gray;
    box-shadow: 1px 1px #848484;
}

.electric-type {
    background-color: #eed535;
    color: white;
    padding-bottom: 5px;
    text-shadow: 1px 1px gray;
    box-shadow: 1px 1px #848484;
}

.water-type {
    background-color: #4592c4;
    color: white;
    padding-bottom: 5px;
    text-shadow: 1px 1px gray;
    box-shadow: 1px 1px #848484;
}

.electric-type {
    background-color: #eed535;
    color: white;
    padding-bottom: 5px;
    text-shadow: 1px 1px gray;
    box-shadow: 1px 1px #848484;
}

.rounded-pkm-body {
    border-radius: 20px;
    padding: 15px;
    background-color: #f6ffa7;
}

.check-pkm-button {
    border-radius: 80px;
    margin: 15px 80px;
    background: rgb(45, 197, 235);
    border: 0;
    transition-duration: .5s;
    text-transform: uppercase;
    /* text-shadow: 1px 1px rgb(99, 51, 7); */
    font-weight: 700;
    font-size: 14px;
    box-shadow: 1px 1px rgba(25, 25, 25, 0.42);
    color: white;
}

.check-pkm-button:hover {
    background: rgb(255, 107, 188);
    color: white;
}

.pkm-card-body {
    padding-bottom: 0px;
}

.pkm-carousel-header {
    color: white;
    /* margin-bottom: 20px; */
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Titillium Web', serif;
    /* text-shadow: 2px 2px 0px red; */
    text-shadow: -2px -2px 0 rgb(17, 238, 109), 2px -2px 0 rgb(238, 124, 17), -2px 2px 0 rgb(238, 17, 238), 2px 2px 0 rgb(238, 124, 17);
    /* filter: drop-shadow(0px 0px 12px rgb(236, 238, 142)); */
    letter-spacing: 3px;
}

.pkm-card-header {
    color: white;
    /* margin-bottom: 20px; */
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Titillium Web', serif;
    /* text-shadow: 2px 2px 0px red; */
    text-shadow: -2px -2px 0 red, 2px -2px 0 red, -2px 2px 0 red, 2px 2px 0 red;
    filter: drop-shadow(0px 0px 12px rgb(189, 68, 68));
    letter-spacing: 3px;
}

.flex-pkm-card {
    padding: 5px;
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-pkm-card:after {
    content: '';
    width: 250px;
}

.pkm-card-div {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.pkm-card-section {
    /* background-image: url("../img/shattered-island.gif");
    background-repeat: repeat; */
    background: rgb(4, 59, 47);
    background: linear-gradient(180deg, rgba(4, 59, 47, 1) 0%, rgba(44, 62, 80, 1) 100%);
    padding-top: 60px;
    padding-bottom: 80px;
}


/* Wave Divider */

.editorial {
    display: block;
    width: 100%;
    height: 60px;
    max-height: 60px;
    margin: 0;
    z-index: 5;
    bottom: 0;
    position: absolute;
    left: 0px;
    float: left;
}

.parallax1>use {
    animation: move-forever1 10s linear infinite;
}

.parallax1>use:nth-child(1) {
    animation-delay: -2s;
}

.parallax2>use {
    animation: move-forever2 8s linear infinite;
}

.parallax2>use:nth-child(1) {
    animation-delay: -2s;
}

.parallax3>use {
    animation: move-forever3 6s linear infinite;
}

.parallax3>use:nth-child(1) {
    animation-delay: -2s;
}

.parallax4>use {
    animation: move-forever4 4s linear infinite;
}

.parallax4>use:nth-child(1) {
    animation-delay: -2s;
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }
    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever3 {
    0% {
        transform: translate(85px, 0%);
    }
    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever4 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}

.filler-wrapper-1 {
    /* background-image: url('../img/battl4.png');
    background-position: center;
    background-repeat: no-repeat; */
    min-height: 600px;
}

#home-carousel .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-bottom: -50px;
    margin-left: 20px;
}

.bg-carousel-arrow-left {
    margin-right: -120px;
    width: 100px;
    height: 100px;
}

.bg-carousel-arrow-right {
    margin-left: -140px;
    width: 100px;
    height: 100px;
}

.top-stack {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    margin: auto;
    left: 0;
    right: 0;
}

.frame-stack {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -470px;
    top: -50px;
    /* width:200px; */
}

.right-stack {
    pointer-events: none;
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 40%;
    margin-left: 200px;
    /* animation-duration: 3s;
    animation-name: slidefromright; */
    /* width:200px; */
}

.grass-stack {
    /* pointer-events: none; */
    position: absolute;
    width: 100vw;
    z-index: 6;
    left: 0;
    bottom: 0;
}


/* 
.come-from-right {
    animation-duration: 3s;
    animation-name: slidefromright;
}

@keyframes slidefromright {
    from { margin-left: 800px; }
    to { margin-left: 400px; }
  } */

.pokemon-carousel-box {
    height: 500px;
}

.bottom-stack {
    position: absolute;
}

.pretty-text-box {
    padding: 5px;
    border-radius: 25px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.74);
}

.filler-section-1 {
    background-color: #fee8b7;
    min-height: 600px;
}

.carousel-wrapper {
    margin-top: 10vh;
    max-width: 800px;
    /* height: 1000px; */
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10vh;
}

.carousel-wrapper-rel {
    position: relative;
}

#home-carousel .carousel-item {
    height: 500px;
    background-color: #fee8b7;
}

.bg-carousel {
    /* border-top: 5px solid darkslategrey; */
    padding-top: 10vh;
    /* padding-bottom: 10vh; */
    overflow-x: hidden;
    overflow-y: hidden;
    /* background-color: #fee8b7; */
    background-image: url('../img/Pokemon_03.svg');
    background-repeat: repeat;
    /* min-height: 1000px; */
    background-attachment: fixed;
}

#home-carousel {
    position: relative;
    top: 0;
}

.battle-background {
    /* background-position: center; */
    background-position: top center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
}


/* ======END-VINH==== */


/* =======DEREK====== */

.detail-body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.detail-img-back {
    position: absolute;
    top: 0;
}

.detail-pokedex-img {
    width: 240px;
    height: auto;
    animation: wiggle 1s linear infinite;
}

@keyframes wiggle {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(3deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(-3deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
    /* to { -webkit-transform: rotate(0deg) }  */
}

.detail-pokedex-circle {
    width: 140px;
    margin-bottom: 5vh;
}

.detail-spacer-1 {
    height: 200px;
}

.detail-spacer-2 {
    height: 100px;
}

.detail-gradient {
    background: rgb(2, 0, 36);
    /* background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(1, 0, 19, 1) 72%, rgba(0, 0, 0, 0) 100%); */
    background-image: url('../detail-img/fancy-pants.jpg');
    background-repeat: repeat;
}

.detail-header {
    height: 150px;
}

.detail-pokedex {
    width: 90%;
}

.detail-img-sm {
    border-radius: 10%;
    max-width: 250px;
    width: 100%;
    height: auto;
}

.border-me {
    border: black solid 1px;
}

.detail-title {
    background-color: #E3350D;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding-left: 2rem;
    color: white;
    height: 180px;
    font-family: 'Titillium Web', serif;
}

.detail-pokedex-font {
    font-family: 'Titillium Web', serif;
    /* font-size: 4vw; */
}

.detail-font {
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: ;    */
}

.detail-main {
    padding: 2rem;
    /* background-color: white; */
    background: #fff url('../detail-img/container_bg.png');
    height: auto;
    margin-bottom: 40px;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.detail-pkm-card-section {
    /* background-image: url("/img/shattered-island.gif"); */
    background-repeat: repeat;
    /* padding-top: 60px; */
    padding-bottom: 40px;
    text-align: center;
    color: white;
}

.detail-form {
    background-color: #E3350D;
    color: white;
    padding: 1rem 3rem;
    font-weight: bold;
    font-family: 'Titillium Web', serif;
}

.detail-form h2 {
    font-family: 'Titillium Web', serif;
}

.detail-form input {
    max-width: 75%;
    border-style: none;
    background-color: rgb(85, 164, 99);
    color: black;
    padding: 15px;
    border: solid rgb(0, 0, 0, 0) 3px;
    transition-duration: .3s;
    font-weight: bold;
}

.detail-form input:focus {
    max-width: 75%;
    border-style: none;
    background-color: rgb(115, 204, 129);
    color: black;
    padding: 15px;
    border: solid rgb(115, 204, 129, 0.5) 3px;
    transition-duration: .3s;
    font-weight: bold;
}

.detail-form input:hover {
    max-width: 75%;
    border-style: none;
    background-color: rgb(115, 204, 129);
    color: black;
    padding: 15px;
    border: solid rgb(115, 204, 129, 0.5) 3px;
    transition-duration: .3s;
    font-weight: bold;
}

.detail-btn {
    background-color: black;
    color: white;
    border: none;
    font-weight: bold;
}

.detail-tight {
    max-width: 880px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.evo-box {
    max-width: 200px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.first-form {
    animation: first-evo 7s linear infinite;
}

@keyframes first-evo {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.second-form {
    animation: second-evo 7s linear infinite;
}

@keyframes second-evo {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.third-form {
    animation: third-evo 7s linear infinite;
}

@keyframes third-evo {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* ====END-DEREK===== */


/* ======ANH HUY===== */

#first-carousel {
    min-height: 100vh;
}

#carouselExampleIndicators>#first-carousel>.carousel-item {
    min-height: 100vh;
    /* width: 100vw; */
    /* align-items: flex-start; */
    overflow: hidden;
}

.banner-pic {
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
}

@keyframes load {
    from {
        width: 0%
    }
}

@-webkit-keyframes load {
    from {
        width: 0%
    }
}

@-moz-keyframes load {
    from {
        width: 0%
    }
}

@-o-keyframes load {
    from {
        width: 0%
    }
}


/* POKEMON STAT BARS */

.bar {
    background-color: #EEE;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 12px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.bar::before {
    content: attr(data-skill);
    background-color: #ff5f2b;
    display: inline-block;
    padding: 3px 0 3px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
    white-space: nowrap;
}

.bar.yellow::before {
    background-color: #ffc72c;
}

.bar.blue::before {
    background-color: #38b7ff;
}

.bar.black::before {
    background-color: rgb(66, 66, 66);
}

.bar.violet::before {
    background-color: #6B5B95;
}

.bar.green::before {
    background-color: #88B04B;
}

.bar.lvl1::before {
    width: calc(30% - 10px);
}

.bar.lvl2::before {
    width: calc(40% - 10px);
}

.bar.lvl3::before {
    width: calc(60% - 10px);
}

.bar.lvl4::before {
    width: calc(80% - 10px);
}

.bar.lvl5::before {
    width: calc(100% - 10px);
}

.first-banner-caption-1 {
    background-color: rgba(212, 70, 51, 0.88);
    opacity: 0.9;
    right: 0;
    left: 0;
}

.first-banner-caption-2 {
    background-color: rgba(194, 197, 31, 0.781);
    opacity: 0.9;
    right: 0;
    left: 0;
}

.first-banner-caption-3 {
    background-color: rgba(0, 146, 204, 0.88);
    opacity: 0.9;
    right: 0;
    left: 0;
}

.first-banner-caption-4 {
    background-color: rgba(253, 149, 63, 0.88);
    opacity: 0.9;
    right: 0;
    left: 0;
}

.first-banner-caption-5 {
    background-color: rgba(233, 76, 173, 0.88);
    opacity: 0.9;
    right: 0;
    left: 0;
}

.navBanner {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.carousel-control-prev-icon {
    height: 50px;
    width: 50px;
}

.carousel-control-next-icon {
    height: 50px;
    width: 50px;
}


/* ======END-HUY===== */


/* =====CHRISTINA--ABOUT US==== */

@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
html,
body {
    background: white;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.aboutus-avatar {
    border-radius: 50%;
}

.aboutus-card {
    width: 450px;
    height: 250px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
    font-family: 'Titillium Web', serif;
}

@media only screen and (max-width: 450px) {
    .aboutus-card {
        width: 90vw;
        height: 200px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

.aboutus-card h1 {
    text-align: center;
}

.aboutus-card .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(#dE685E, #EE786E);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
}

@media only screen and (max-width: 450px) {
    .aboutus-card .additional {
        width: 34vw;
        height: 200px;
        position: absolute;
    }
}

.aboutus-card.green .additional {
    background: linear-gradient(#92bCa6, #A2CCB6);
}

.aboutus-card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.aboutus-card .additional .user-card {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
}

@media only screen and (max-width: 450px) {
    .aboutus-card .additional .user-card {
        width: 34vw;
        height: 200px;
        position: relative;
        float: left;
    }
}

.aboutus-card .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0, 0, 0, 0.025);
}

@media only screen and (max-width: 450px) {
    .aboutus-card .additional .user-card::after {
        width: 34vw;
        height: 200px;
        position: absolute;
    }
}

.aboutus-card .additional .user-card .level,
.aboutus-card .additional .user-card .points {
    top: 15%;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.50em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
    font-family: Abel, Arial, Verdana, sans-serif;
}

.aboutus-card .additional .user-card .points {
    top: 85%;
}

.aboutus-card .additional .user-card svg {
    top: 50%;
}

.member-name {
    font-size: 35px;
}

@media only screen and (max-width: 450px) {
    .member-name {
        font-size: 25px;
    }
}

.quote {
    font-size: 15px;
}

.aboutus-card .additional .more-info {
    width: 300px;
    float: left;
    position: absolute;
    left: 150px;
    height: 100%;
    padding-top: 1rem;
}

@media only screen and (max-width: 450px) {
    .aboutus-card .additional .more-info {
        width: 66vw;
        height: 200px;
        position: absolute;
        float: left;
        left: 34vw;
        padding-top: 1rem;
    }
}

.aboutus-card .additional .more-info h1 {
    color: #fff;
    margin-bottom: 0;
}

.aboutus-card.green .additional .more-info h1 {
    color: #224C36;
}

.aboutus-card .additional .coords {
    margin: 0 1rem;
    color: #fff;
    font-size: .75rem;
}

.aboutus-card.green .additional .coords {
    color: #325C46;
}

.aboutus-card .additional .coords span+span {
    float: right;
}

.aboutus-card .additional .stats {
    font-size: 1.25rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #fff;
}

.aboutus-card.green .additional .stats {
    color: #325C46;
}

.aboutus-card .additional .stats>div {
    flex: 1;
    text-align: center;
}

.aboutus-card .additional .stats i {
    display: block;
}

.aboutus-card .additional .stats div.title {
    font-size: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.aboutus-card .additional .stats div.value {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5rem;
}

.aboutus-card .additional .stats div.value.infinity {
    font-size: 2.25rem;
}

.aboutus-card .general {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 1rem;
}

@media only screen and (max-width: 450px) {
    .aboutus-card .general {
        width: 58vw;
        height: 300px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        box-sizing: border-box;
    }
}

.aboutus-card .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
    padding-top: 1rem;
}

.aboutus-section {
    padding-bottom: 4rem;
}

.about-us-bg {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    padding-top: 60px;
    padding-bottom: 80px;
}


/* ===END-CHRISTINA--ABOUT US== */


/* =====CHRISTINA--FOOTER==== */

footer {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: #dc1715;
    text-decoration-line: none;
}

a {
    text-decoration-line: none;
    color: lightgray;
}


/* ===END-CHRISTINA--FOOTER== */


/* =======SEAN======= */

.shrink {
    transition: 1s ease;
}

.shrink:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}

.pokemon-card {
    background: white;
    width: 250px;
    display: inline-block;
    margin: auto;
    border-radius: 19px;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px wheat;
    z-index: 9999;
    font: 14px/20px 'Titillium Web', serif;
    color: #9E9E9E;
    cursor: pointer;
}

.pokemon-card__image {
    position: relative;
    height: 230px;
    margin-bottom: 35px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.pokemon-card__image--pikachu {
    background: url('../detail-img/slide_show/pikachu_bg.jpg');
}

.pokemon-card__image--caterpie {
    background: url('../detail-img/slide_show/caterpie-bg.jpg');
}

.pokemon-card__image--squirtle {
    background: url('../detail-img/slide_show/squirtle_bg.jpg');
}

.pokemon-card__image--charmander {
    background: url('../detail-img/slide_show/charmander_bg.jpg');
}

.pokemon-card__image--dratini {
    background: url('../detail-img/slide_show/pikachu_bg.jpg');
}

.pokemon-card__image--snorlax {
    background: url('../detail-img/slide_show/caterpie-bg.jpg');
}

.pokemon-card__image--bulbasaur {
    background: url('../detail-img/slide_show/charmander_bg.jpg');
}

.pokemon-card__image--pikachu img {
    width: 250px;
    position: absolute;
    top: 0px;
    left: 23px;
}

.pokemon-card__image--caterpie img {
    width: 250px;
    position: absolute;
    top: 0px;
    left: 23px;
}

.pokemon-card__image--squirtle img {
    width: 250px;
    position: absolute;
    top: 0px;
    left: 23px;
}

.pokemon-card__image--charmander img {
    width: 250px;
    position: absolute;
    top: 0px;
    left: 23px;
}

.pokemon-card__image--dratini img {
    width: 250px;
    position: absolute;
    top: 0px;
    left: -41px;
}

.pokemon-card__image--snorlax img {
    width: 250px;
    position: absolute;
    top: 0px;
    left: -5px;
}

.pokemon-card__image--bulbasaur img {
    width: 250px;
    position: absolute;
    top: 0px;
    left: -5px;
}

.pokemon-card__level {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 3px;
}

.pokemon-card__level--pikachu {
    color: #facd37;
}

.pokemon-card__level--caterpie {
    color: #87c876;
}

.pokemon-card__level--squirtle {
    color: #659db0;
}

.pokemon-card__level--charmander {
    color: #e3723e;
}

.pokemon-card__level--dratini {
    color: #659db0;
}

.pokemon-card__unit-name {
    font-size: 26px;
    color: black;
    font-weight: 900;
    margin-bottom: 5px;
}

.pokemon-card__unit-description {
    padding: 20px;
    margin-bottom: 10px;
}

.pokemon-card__unit-stats--pikachu {
    background: #facd37;
}

.pokemon-card__unit-stats--caterpie {
    background: #87c876;
}

.pokemon-card__unit-stats--squirtle {
    background: #659db0;
}

.pokemon-card__unit-stats--charmander {
    background: #e3723e;
}

.pokemon-card__unit-stats--dratini {
    background: #659db0;
}


/* .pokemon-card__unit-stats--caterpie .one-third {
    border-right: 1px solid #87c876;
} */

.pokemon-card__unit-stats {
    color: white;
    font-weight: 700;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    justify-content: center;
    display: flex;
}

.pokemon-card__unit-stats .one-third {
    width: 33%;
    float: left;
    padding: 20px 15px;
}

.pokemon-card__unit-stats sup {
    position: absolute;
    bottom: 4px;
    font-size: 45%;
    margin-left: 2px;
}

.pokemon-card__unit-stats .stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
}

.pokemon-card__unit-stats .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}

.pokemon-card__unit-stats .no-border {
    border-right: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


/* DETAIL PAGE IMAGE GALLERY SECTION */

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
        float: left;
        width: 25%;
        max-width: 100%;
    }
}

.carousel-multi-item-2 .card img {
    border-radius: 2px;
}

.detail-carousel-indicators {
    bottom: -50px;
}

.detail-carousel-inner {
    margin-bottom: 50px;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 270px;
    perspective: 1000px;
    border-style: none;
    font-family: 'Titillium Web', serif;
}

.flip-card .title {
    /* background-color: white; */
    border-radius: 0px 0px 75px 0px;
    text-align: left;
    width: 120px;
}

.flip-card-bg-white {
    background-color: white;
}

.flip-card-bg-orchid {
    background-color: #B565A7;
}

.flip-card-bg-emerald {
    background-color: #009B77;
}

.flip-card-bg-coral {
    background-color: #FF6F61;
}

.flip-card-bg-turquose {
    background-color: #45B8AC;
}

.flip-card .pokemon-type {
    bottom: 0;
    right: 0%;
    /* font-size: 1.2em; */
    position: absolute;
    /* background-color: white; */
    border-radius: 44px 0px 0px 0px;
    text-align: left;
    width: 71px;
}

.flip-card .pokemon-type img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* This container is needed to position the front and back side */

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    transition: 1%;
}


/* Position the front and back side */

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    border-style: solid;
    border-width: thick;
}


/* Style the front side (fallback if image is missing) */

.flip-card-front {
    /* background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%); */
    /* background-image: url("https://st2.depositphotos.com/3213441/12022/v/950/depositphotos_120226584-stock-illustration-pokemon-go-pokeball-seamless-texture.jpg"); */
    color: black;
    border-style: solid;
    border-width: thick;
}

.flip-card-front img {
    max-width: 150px;
    max-height: 150px;
}

.flip-card-border-white {
    border-color: white;
}

.flip-card-border-orchid {
    border-color: #B565A7;
}

.flip-card-border-emerald {
    border-color: #009B77;
}

.flip-card-border-coral {
    border-color: #FF6F61;
}

.flip-card-border-turquose {
    border-color: #45B8AC;
}


/* Style the back side */

.flip-card-back {
    /* background-image: url("https://st2.depositphotos.com/3213441/12022/v/950/depositphotos_120226584-stock-illustration-pokemon-go-pokeball-seamless-texture.jpg"); */
    color: white;
    transform: rotateY(180deg);
}

.flip-card-border-coral {
    border-color: #FF6F61;
}

.flip-card-border-turquose {
    border-color: #45B8AC;
}


/* Style the back side */

.flip-card-back {
    /* background-image: url("https://st2.depositphotos.com/3213441/12022/v/950/depositphotos_120226584-stock-illustration-pokemon-go-pokeball-seamless-texture.jpg"); */
    color: white;
    transform: rotateY(180deg);
}


/* The Loader */

#loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: hidden;
}

.no-js #loader-wrapper {
    display: none;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #16a085;
    -webkit-animation: spin 1.7s linear infinite;
    animation: spin 1.7s linear infinite;
    z-index: 11;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin-reverse 0.6s linear infinite;
    animation: spin-reverse 0.6s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin-reverse {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes spin-reverse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222;
    z-index: 10;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}


/* Loaded styles */

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}


/* IMAGE MODAL */

#mapImg {
    border: 5px solid gray;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#mapImg:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 75%;
}


/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.out {
    animation-name: zoom-out;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(1)
    }
    to {
        -webkit-transform: scale(2)
    }
}

@keyframes zoom {
    from {
        transform: scale(0.4)
    }
    to {
        transform: scale(1)
    }
}

@keyframes zoom-out {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(0)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}


/* =====END-SEAN===== */